* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.friday-top,
.friday-bottom,
.friday-left,
.friday-right {
  position: fixed;
  width: 100%;
  display: flex;
}

.friday-top {
  top: -100px;
  left: 0;
}

.friday-bottom {
  bottom: -100px;
  left: 0;
}

.friday-left {
  top: calc(50vh - 5px);
  right: calc(-30px - 50vh);
  height: 10px;
  width: 100vh;
  rotate: 90deg;
}

.friday-right {
  top: calc(50vh - 5px);
  left: calc(-20px - 50vh);
  height: 10px;
  width: 100vh;
  rotate: 90deg;
}

.friday-top span,
.friday-bottom span {
  position: relative;
  height: 13vh;
  width: 40%;
}

.friday-left span,
.friday-right span {
  position: relative;
  height: 2vh;
  width: 4%;
}

.friday-top span::before,
.friday-bottom span::before,
.friday-left span::before,
.friday-right span::before {
  content: "";
  position: absolute;
  animation: animate 10s linear infinite;
  animation-delay: calc(var(--i)*0.1s);
  rotate: 90deg;
  background: #0f0;
  top: -9px;
  bottom: -9px;
  left: -5px;
  right: -5px;
  box-shadow:
    0 0 5px #0f0,
    0 0 15px #0f0,
    0 0 30px #0f0,
    0 0 50px #0f0;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}