# BETTER_AUTH_URL=https://localhost:3000
# GITHUB_CLIENT_ID=Ov23li7rpJYuVuzSxt2V
# GITHUB_CLIENT_SECRET=3c8b889dd95f17e44bfc534f4c5aabd5029b3d7b
# GOOGLE_CLIENT_ID=117463645721-24kme4cfd3mkn58jjb8co16fk2cm5vdj.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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

# GOOGLE_CLIENT_SECRET=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
# NEXT_PUBLIC_GOOGLE_CLIENT_ID=117463645721-e4tu1rdhb2cv4t0e180imlmq5olv7ldn.apps.googleusercontent.com
# BETTER_AUTH_URL=http://localhost:3000
# BETTER_AUTH_SECRET=fdsfdsfsdf
# TURSO_DATABASE_URL=libsql://friday-manfromexistence.aws-us-east-1.turso.io
# TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NDM2NzY3NDQsImlkIjoiMjBlNjBlZjUtNjg0Ni00YmYxLTg1ZWYtOTIzZjI0YzhlNDQxIiwicmlkIjoiMjlmMzFhNzQtYTQyYi00YTFmLWJlZmItYzU0MThhZDUyNjg1In0.jNvE95W5c2UNNhSlCoRryWNwH81kQ5prQw1Hi2E4bJ_dipjyRm3LOUhD8V4rQW7CxHMCWX4ndCmO79k5qwisCA
# GITHUB_CLIENT_ID=Ov23liKqyc5Oa8BZaSBM
# GITHUB_CLIENT_SECRET=12f362647760ce201853f735e47057178bfe5a01
# RESEND_API_KEY=re_D7uZsDVJ_GKT37XMJvX7Lw9EmQ4ZXvkGn
# TEST_EMAIL=ajju40959@gmail.com
# DISCORD_CLIENT_ID=1357289073232052386
# DISCORD_CLIENT_SECRET=b89e70beaed5cdac3b3977e1a46c374523bec0d12bd75b7f5b67256a5861f328
# TWITTER_CLIENT_ID=V3lZWUtYaDhPLTFBMFhsajg4UzU6MTpjaQ
# TWITTER_CLIENT_SECRET=1WJ-B04mxGXGZ1FaYWdC--H5kCdBEN454Oe13X_lC9-iBFEMAN
# MICROSOFT_CLIENT_ID=ea749026-367a-48ba-ae82-42d674d2e080
# MICROSOFT_CLIENT_SECRET=3_n8Q~WDu8xfntI4ZoJcbFsty0xPNOqBn8al0c6o
# TWITCH_CLIENT_ID=V3lZWUtYaDhPLTFBMFhsajg4UzU6MTpjaQ
# TWITCH_CLIENT_SECRET=dsfsdsfdsfdf
# FACEBOOK_CLIENT_ID=dsfsdsfdsfdf
# FACEBOOK_CLIENT_SECRET=sdfdsfdsf
# NODE_ENV=devlopment
# STRIPE_KEY=pk_test_51NYBaCDkKOaWs52UNuvixjqiWefZEcGAggCP90vzVXigTPpmXLFyodZWxVlx6Fr2iLvIDTr5V2oUYkodeHqrnzxK00LD8yO0V6
# STRIPE_WEBHOOK_SECRET=whsec_ld7oweqIBJ2qX28nBXLTjrSfg33Ywono

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cmVsYXhpbmctbGVtbWluZy0yMi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_rNn6VqACZBYVmCWWPmX38xKNDGzLFEpgXA9ote4SuJ